<a href="https://colab.research.google.com/github/jigneshnakhva/ML-For-Beginners/blob/main/Python_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Python, **data types** are used to define the type of data that a variable can hold. Here are the most commonly used data types in Python:

## **Basic data types**

#### 1.Integer (int):
- Represents whole numbers without decimal points.
- No Size limit like java

In [ ]:
age = 25
print(type(age))
print(age)

<class 'int'>
25

#### 2. Float (float):
 - Represents floating-point numbers (decimal numbers).

In [ ]:
salary = 75000.50
print(type(salary))
print(salary)

<class 'float'>
75000.5

#### 3.String (str):
 - Represents a sequence of characters.
 - **Properties**
   - Immutable
   - Indexed
   - Iterable

In [ ]:
name = "John Doe"
print(type(name))

<class 'str'>

In [ ]:
str1="arvind"
print(id(str1))
str2=str1+" kumar"
print(id(str2))

133556140478160
133556138839856

In [ ]:
s = "Hello"
print(id(s)) # Prints the memory address of the first string object
s = s + " World"
print(id(s)) # Prints a different memory address, indicating a new object

In [ ]:
s = "test"
# s[0] = 'T'  # This operation is invalid and would raise a TypeError

In [ ]:
a=2
b=3
print(a+b)
c=9
d=10
print(c+d)

5
19

In [ ]:
def add(a,b):
  print(a+b)

In [ ]:
add(a,b)

5

In [ ]:
words="hello world, This is String."
print(words.upper())

HELLO WORLD, THIS IS STRING.

In [ ]:
words="hello world, This is String."
print(type(words))

<class 'str'>

In [ ]:
words="hello world, This is String."
print(words.lower())

hello world, this is string.

In [ ]:
words="hello world, This is String."
print(words.capitalize())

Hello world, this is string.

In [ ]:
print(f"Title format of the words will be ====== {words.title()}")

Title format of the words will be ====== Hello World, This Is String.

In [3]:
words="hello world, This is String."
print(f"capitalize format of the words will be ====== {words.capitalize()}")
print(f"upper format of the words will be ====== {words.upper()}")
print(f"lower format of the words will be ====== {words.lower()}")
print(f"swapcase format of the words will be ====== {words.swapcase()}")
print(f"Title format of the words will be ====== {words.title()}")
print(f"casefold format of the words will be ====== {words.casefold()}")
print(f"center format of the words will be ====== {words.center(50)}")
#
print(f"count format of the words will be ====== {words.count('l')}")

print(f"endswith format of the words will be ====== {words.endswith('String.')}")
print(f"startswith format of the words will be ====== {words.startswith('hello')}")
#substring
#reverse

capitalize format of the words will be ====== Hello world, this is string.
upper format of the words will be ====== HELLO WORLD, THIS IS STRING.
lower format of the words will be ====== hello world, this is string.
swapcase format of the words will be ====== HELLO WORLD, tHIS IS sTRING.
Title format of the words will be ====== Hello World, This Is String.
casefold format of the words will be ====== hello world, this is string.
center format of the words will be ======            hello world, This is String.
count format of the words will be ====== 3
endswith format of the words will be ====== True
startswith format of the words will be ====== True

In [ ]:
print(f"count format of the words will be ====== {words.count('l')}")

count format of the words will be ====== 3

#### strip()
The **strip()** method removes any leading, and trailing whitespaces. Leading means at the beginning of the string, trailing means at the end.

In [ ]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
str1="  FullStack  DE    "
print(str1.strip())

FullStack  DE

####replace()
The replace() method replaces a specified phrase with another specified phrase.

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

In [ ]:
text = "one one was a race horse, two two was one too."
new_text = text.replace("one", "three")
print(new_text)
# Output: "three three was a race horse, two two was three too."

three three was a race horse, two two was three too.

In [ ]:
text = "one one was a race horse, two two was one too."
# Only replace the first two occurrences
new_text = text.replace("one", "three", 2)
print(new_text)
# Output: "three three was a race horse, two two was one too."

three three was a race horse, two two was one too.

In [ ]:
print(text)

one one was a race horse, two two was one too.

#### **str.split()**
To split a string in Python, you primarily use the built-in .split() method. This method breaks a string into a list of substrings based on a specified delimiter.

- str.split(separator=None, maxsplit=-1)
  - separator (optional): The delimiter to use for splitting.
If not specified (or None), any sequence of whitespace (spaces, tabs, newlines) is used as the separator, and empty strings resulting from the split are discarded.

  - If specified, the string is split at each occurrence of that exact separator string.

  - maxsplit (optional): The maximum number of splits to perform.
  - maxsplit=-1 (default) means all occurrences of the separator are split.
  - If a number n is specified, the string will be split at most n times, resulting in a list with a maximum of n+1 elements.

In [ ]:
text = "Python makes coding simple"
words = text.split()
print(words)

['Python', 'makes', 'coding', 'simple']

In [ ]:
data = "apple,banana,cherry"
fruits = data.split()
print(fruits)

['apple,banana,cherry']

In [ ]:
data = "apple,banana,cherry"
fruits = data.split(',')
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
info = "John#Doe#30"
details = info.split('#')
print(details)

['John', 'Doe', '30']

In [ ]:
data = "apple,banana,cherry,kiwi,watermelon"
fruits = data.split(',',2)
print(fruits)

['apple', 'banana', 'cherry,kiwi,watermelon']

#### casefold()
- method is a powerful built-in string method used to convert a string to a case-folded version, which is suitable for caseless matching and comparison, especially for international text.

####How to use casefold()

- The casefold() method is called on a string object and returns a new string with all case distinctions removed. It takes no arguments and does not modify the original string.

In [ ]:
text = "Hello, WÖRld! ß"
folded_text = text.casefold()

print(f"Original string: {text}")
print(f"Case-folded string: {folded_text}")

Original string: Hello, WÖRld! ß
Case-folded string: hello, wörld! ss

In [ ]:
print(words.replace("hello", "hi"))
print(words.replace("world", "universe"))
print(words.replace("This", "That"))

In [ ]:
words_arr=words.split(" ")#important
print(words_arr)

In [ ]:
file="raw_data.csv"
if (file.endswith(".csv")):
  print(f"file {file} is csv file")

### isalnum() and isalpha()
 - In Python, isalnum() and isalpha() are string methods used to check the nature of the characters in a string.

####  - **isalnum()**
- Purpose: Checks if all characters in the string are alphanumeric (letters and numbers).

#### - **isalpha()**
- Purpose: Checks if all characters in the string are alphabetic (letters only).

#### - **isdigit()**
- Purpose: Checks if all characters in the string are digit (number only).



> These Methods return boolean value

In [ ]:
print("Python123".isalnum())

print("Python 123".isalnum())

print("Python".isalnum())

True
False
True

In [ ]:
print("Python".isalpha())
print("Python123".isalpha())

True
False

In [2]:
print('123'.isdigit())
print('123.5'.isdigit())

True
False

### **any() function**
- The any() function in Python returns True if at least one element of the iterable is true. If the iterable is empty, it returns False. This function is useful for checking if any element in a list, tuple, or other iterable meets a certain condition.

In [ ]:
numbers = [2, 5, 8, 12, 3]
result = any(num > 13 for num in numbers)
print(result)

False

#### Boolean (bool):
 - Represents True or False.

In [ ]:
is_active = True
print(type(is_active))
print(is_active)

<class 'bool'>
True

#### Reverse the string

In [ ]:
s = "hello"
reversed_s = s[::-1]
print(reversed_s)
# Output: olleh
print(s)

olleh
hello

In [6]:
s = "Python"
reversed_s = "".join(reversed(s))
print(reversed_s)
# Output: nohtyP
print(s)

nohtyP
Python

In [5]:
s = "Python"
print(s[::-1])

nohtyP

In [ ]:
s = "loop"
reversed_s = ""
for char in s:
    reversed_s = char + reversed_s
print(reversed_s)
# Output: pool

- Check if a username contains only letters and digits.
- Check if a PAN number contains only letters.
- Validate if input contains only numbers.
- Convert a name to uppercase.
- Remove extra spaces from input.
- Replace “null” with “0” in a string.
- Split a CSV line into columns.
- Check if filename ends with .csv.
- Count number of characters in a string.
- Reverse a string.
- Convert "123" to integer.
- Check if email contains @.
- Extract domain from email.
- Capitalize first letter of a name.
- Replace multiple spaces with single space.

## **Collection data types**
- A collection is a data type used to store multiple values in one variable

#### 1. List (list):
 - An ordered collection of items, which can be of different types.
 - list is mutable
 - allow duplicate

In [ ]:
a=[1,2,3,"kassa",True]
print(type(a))

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))
print(fruits)

In [ ]:
# Demonstrating List Mutability
my_list = [1, 2, 3, 4]
print(f"Original list: {my_list}")

# Modify an element in the list
my_list[0] = 10
print(f"List after modifying an element: {my_list}")

# Add an element to the list
my_list.append(5)
print(f"List after appending an element: {my_list}")

# Remove an element from the list
my_list.remove(2)
print(f"List after removing an element: {my_list}")

print("-" * 20)

#### 2 .Tuple (tuple):
 - An ordered collection of items, which can be of different types. Tuples are immutable.

In [ ]:
cordinates=(10,20)
print(type(cordinates))
print(cordinates)

In [ ]:
# Demonstrating Tuple Immutability
my_tuple = (1, 2, 3, 4)
print(f"Original tuple: {my_tuple}")

# Attempting to modify an element in the tuple (will raise an error)
try:
    my_tuple[0] = 10
except TypeError as e:
    print(f"Error when trying to modify a tuple element: {e}")

# Attempting to append an element to the tuple (will raise an error)
try:
    my_tuple.append(5)
except AttributeError as e:
    print(f"Error when trying to append to a tuple: {e}")

# Attempting to remove an element from the tuple (will raise an error)
try:
    my_tuple.remove(2)
except AttributeError as e:
    print(f"Error when trying to remove from a tuple: {e}")

# Reassigning the tuple variable to a new tuple (this is allowed, but it's a new tuple, not a modification of the old one)
my_tuple = (10, 20, 30)
print(f"Tuple after reassignment: {my_tuple}")

#### 3. Dictionary (dict):
- An unordered collection of key-value pairs.
- No duplicate keys ( values can be duplicate)

In [ ]:
employee = {"name": "Kassa", "age": 30, "department": "Engineering", "salary": 50000}
print(type(employee))
print(employee)

#### 4. Set (set):
- An unordered collection of unique items.

In [ ]:
unique_numbers = {1, 2, 3,2, 4, 5}
print(type(unique_numbers))
print(unique_numbers)

## **Special Data Types**

1.NoneType (None):
 - Represents the absence of a value.

In [ ]:
result = None
print(type(result))
print(result)

## Data Types in PySpark
 - In PySpark, data types are defined in the pyspark.sql.types module. Here are some common PySpark data types:

In [ ]:
'''IntegerType:
Represents integer values.'''
from pyspark.sql.types import IntegerType

In [ ]:
'''StringType:
Represents string values.'''
from pyspark.sql.types import StringType

In [ ]:
'''BooleanType:
Represents boolean values (True or False).'''
from pyspark.sql.types import BooleanType

In [ ]:
'''FloatType:
Represents floating-point values (decimal numbers)'''
from pyspark.sql.types import FloatType

In [ ]:
'''DoubleType:
Represents double-precision floating-point values (decimal numbers)
with higher precision than FloatType'''
from pyspark.sql.types import DoubleType

In [ ]:
'''ArrayType:
Represents an array of values of a specific
data type
'''
from pyspark.sql.types import ArrayType
from pyspark.sql.types import ArrayType, StringType
array_type = ArrayType(StringType())

In [ ]:

'''MapType:
Represents a map or dictionary of key-value pairs
where both keys and values  can be of any data type.'''

from pyspark.sql.types import MapType, StringType, IntegerType
# Define a MapType with String keys and Integer values
map_type = MapType(StringType(), IntegerType())

In [ ]:
'''StructType:
Represents a complex data structure with multiple fields
where each field can have a specific data type
Represents a structured data type (similar to a table schema).
'''
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

# **Operators**

### Operators in Python
- Python provides a variety of operators to perform different operations. Here are the most commonly used operators:

- 1. **Arithmetic Operators**
    - Addition (+): Adds two operands.
    - Subtraction (-): Subtracts the second operand from the first.
    - Multiplication (*): Multiplies two operands.
    - Division (/): Divides the first operand by the second.
    - Modulus (%): Returns the remainder of the division.
    - Exponentiation (**): Raises the first operand to the power of the second.
    - Floor Division (//): Divides the first operand by the second and returns the largest integer less than or equal to the result.

In [ ]:
print(2**3) #2*2*2

8

In [ ]:
print(9/2)

In [ ]:
print(9//2)

In [ ]:
a = 10
b = 3

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulus = a % b
exponentiation = a ** b
floor_division = a // b
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)
print("Floor Division:", floor_division)

- 2. **Comparison Operators**
  - Equal (==): Checks if two operands are equal.
  - Not Equal (!=): Checks if two operands are not equal.
  - Greater Than (>): Checks if the left operand is greater than the right.
  - Less Than (<): Checks if the left operand is less than the right.
  - Greater Than or Equal To (>=): Checks if the left operand is greater than or equal to the right.
  - Less Than or Equal To (<=): Checks if the left operand is less than or equal to the right.

In [ ]:
a = 10
b = 3

equal = (a == b)
not_equal = (a != b)
greater_than = (a > b)
less_than = (a < b)
greater_than_or_equal = (a >= b)
less_than_or_equal = (a <= b)
print("Equal:", equal)
print("Not Equal:", not_equal)
print("Greater Than:", greater_than)
print("Less Than:", less_than)
print("Greater Than or Equal:", greater_than_or_equal)
print("Less Than or Equal:", less_than_or_equal)

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater Than or Equal: True
Less Than or Equal: False

- 3.**Logical Operators**
    - AND (and): Returns True if both operands are true.
    - OR (or): Returns True if at least one operand is true.
    - NOT (not): Reverses the logical state of its operand.

In [ ]:
a = True
b = False

logical_and = a and b
logical_or = a or b
logical_not = not a
x=a and (not b)
print("x:",x)
print("Logical AND:", logical_and)
print("Logical OR:", logical_or)
print("Logical NOT:", logical_not)

- 4. **Assignment Operators**
  - Assignment (=): Assigns a value to a variable.
  - Add and Assign (+=): Adds and assigns the result.
  - Subtract and Assign (-=): Subtracts and assigns the result.
  - Multiply and Assign (*=): Multiplies and assigns the result.
  - Divide and Assign (/=): Divides and assigns the result.
  - Modulus and Assign (%=): Takes modulus and assigns the result.
  - Exponent and Assign (**=): Raises to the power and assigns the result.
  - Floor Divide and Assign (//=): Floor divides and assigns the result.

In [ ]:
x=1
x+=1 #x=x+1
x-=5 #x=x-5
print(x)

In [ ]:
a = 10
print("Updated value of a:", a)
a += 5  # a = a + 5
print("Updated value of a:", a)
a -= 3  # a = a - 3
print("Updated value of a:", a)
a *= 2  # a = a * 2
print("Updated value of a:", a)
a /= 4  # a = a / 4
print("Updated value of a:", a)
a %= 3  # a = a % 3
print("Updated value of a:", a)
a **= 2  # a = a ** 2
print("Updated value of a:", a)
a //= 2  # a = a // 2
print("Updated value of a:", a)

- 5. **Bitwise Operators**
  - AND (&): Performs bitwise AND.
  - OR (|): Performs bitwise OR.
  - XOR (^): Performs bitwise XOR.
  - NOT (~): Performs bitwise NOT.
  - Left Shift (<<): Shifts bits to the left.
  - Right Shift (>>): Shifts bits to the right.

In [ ]:


# learn bit manipulation

# COMMAND ----------

a = 10  # 1010 in binary
b = 4   # 0100 in binary

bitwise_and = a & b  # 0000 in binary
bitwise_or = a | b   # 1110 in binary
bitwise_xor = a ^ b  # 1110 in binary
bitwise_not = ~a     # -11 in binary (two's complement)
left_shift = a << 2  # 101000 in binary
right_shift = a >> 2 # 0010 in binary
print("Bitwise AND:", bitwise_and)
print("Bitwise OR:", bitwise_or)
print("Bitwise XOR:", bitwise_xor)
print("Bitwise NOT:", bitwise_not)
print("Left Shift:", left_shift)
print("Right Shift:", right_shift)

- 6. Membership Operators
  - in: Checks if a value is present in a sequence.
  - not in: Checks if a value is not present in a sequence.
  - return True or False

In [ ]:
fruits = ["apple", "banana", "cherry"]

is_in = "banana" in fruits
is_not_in = "grape" not in fruits
print("Is 'banana' in fruits?", is_in)
print("Is 'grape' not in fruits?", is_not_in)

- 7.Identity Operators
   - is: Checks if two variables point to the same object.
   - is not: Checks if two variables do not point to the same object.

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

is_same = a is b
is_not_same = a is  c
print("Is a the same object as b?", is_same)
print("Is a not the same object as c?", is_not_same)